<div class="shelf-action-dropdown">
  <i class="fa-solid fa-ellipsis-vertical shelf-ellipsis-icon" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20"></i>
    <ul class="dropdown-menu shelf-dropdown-menu">
      <li>
        <%= link_to searches_path, class: "dropdown-item d-flex gap-2 align-items-center" do %>
          <i class="fa-solid fa-circle-plus"></i>
          <p class="mb-0">Add to this bookshelf</p>
          <% end %>
      </li>

      <li>
        <button
          type="button"
          class="dropdown-item d-flex gap-2 align-items-center"
          data-action="click->bookshelf#enterEdit"
        >
          <i class="fa-regular fa-pen-to-square"></i>
          <p class="mb-0">Edit this bookshelf</p>
        </button>
      </li>

      <li>
        <%= link_to shelf_path(shelf),
              data: { turbo_method: :delete,
              turbo_confirm: "Are you sure you'd like to delete this bookshelf?"},
              class: "dropdown-item d-flex gap-2 align-items-center" do %>
          <i class="fa-solid fa-trash-can"></i>
          <p class="mb-0">Delete this bookshelf</p>
          <% end %>
      </li>
    </ul>
</div>
