<div class="px-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1><%= @shelf.name %></h1>
    <%= render "shelf_actions", shelf: @shelf  %>
  </div>


  <div class="row row-cols-3 row-cols-lg-6 g-3">
    <% @shelf_books.each do |shelf_book| %>
      <div class="col">
        <div class="shadow rounded-3 d-flex align-items-center justify-content-center">
          <img src="..." class="rounded float-start book-card" alt="...">
        </div>
      </div>
    <% end %>
  </div>
</div>
