// Define variables for your color scheme

// Bootstrap Colours
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// Bootstrap Grayscale
$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000000;

// Bootstrap Colour Variables:

$red-400: #e35d6a;
$red-500: $red;

$indigo-50:  #eddfff;
$indigo-100: #e0cdfe;
$indigo-200: #c19bfe;
$indigo-300: #a26afd;
$indigo-400: #8338fd;
$indigo-500: $indigo;
$indigo-600: #520dc2;
$indigo-700: #3d0a91;
$indigo-800: #290661;
$indigo-900: #140330;

$orange-100: #ffe5d0;
$orange-200: #fecba1;
$orange-300: #feb272;
$orange-400: #fd9843;
$orange-500: $orange;
