<div class="mb-2">
  <div class="container">
    <div class="shadow rounded-3 p-3">
      <h4 class="m-0 text-center text-dark-emphasis">Search in your library...<i class="fa-solid fa-magnifying-glass ms-2 text-dark"></i></h4>
    </div>
  </div>
</div>
