<div class="login-page">

  <!-- Background video -->
  <div class="video-bg">
    <video autoplay muted loop playsinline>
      <source src="<%= asset_path("books_animation.mp4") %>" type="video/mp4">
    </video>
  </div>

  <!-- login content -->
  <div class="login-wrapper">
    <div class="login-container">

      <!-- Left side-->
      <div class="login-left">
        <%= image_tag "dewey_bg-transparent.png", class: "login-owl" %>
      </div>

      <!-- Right side-->
      <div class="login-right">
        <h2 class="mb-4">Welcome to Bookwise</h2>

        <div class="d-flex flex-column gap-3">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark btn-lg" %>
        </div>
      </div>

    </div>
  </div>
</div>


<section class="reviews-section">
  <div class="reviews-title">
    <h2 class="text-center m-4"> What our readers say </h2>
  </div>
  <%# container for reviews %>
  <div class="review-container">
      <div class="carousel basic">
        <div class="review-group">
           <div class="review-card shadow-sm mx-auto">
            <p>"Bookwise made me excited to read again."</p>
            <span>- Alex</span>
          </div>

          <div class="review-card shadow-sm mx-auto">
            <p>"The owl is so cute, I love it."</p>
            <span>- Maya</span>
          </div>

          <div class="review-card shadow-sm mx-auto">
            <p>"Super clean design. Easy to use."</p>
            <span>- Liam</span>
          </div>
        </div>
        <div class="review-group">
           <div class="review-card shadow-sm mx-auto">
            <p>"Bookwise made me excited to read again."</p>
            <span>- Alex</span>
          </div>

          <div class="review-card shadow-sm mx-auto">
            <p>"The owl is so cute, I love it."</p>
            <span>- Maya</span>
          </div>

          <div class="review-card shadow-sm mx-auto">
            <p>"Super clean design. Easy to use."</p>
            <span>- Liam</span>
          </div>
        </div>
      </div>
  </div>
</section>
