<h1>You aren't logged in</h1>
  <div class="d-flex mx-2">
  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary me-2" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary me-2" %>
</div>
