<div class="modal fade" id="bookCardModal<%= book.id %>" tabindex="-1" aria-labelledby="bookCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <% if current_user %>
          <%= render "books/user_books_modal", book: book %>
        <% else %>
          <%= render "books/books_modal", book: book %>
        <% end %>
      </div>
    </div>
  </div>
</div>
