<div class="container py-5 text-center justify-content-center align-items-center">
  <%= image_tag "error-dewey_bg-transparent.png", class: "m-3", style: "max-width:200px", alt: "Dewey the Owl looking stressed out! He's holding a book upside down, with crosses for pupils." %>
  <h1>Oh no! Library 500!</h1>
  <p class="display-4">Something went wrong! Dewey is working to fix it.</p>
  <%= link_to "Go Back", :back, class: "mt-3 btn btn-lg btn-primary" %>
</div>
