<h1>My Books :)</h1>

<div class="books-grid">
  <% @user_books.each do |user_book| %>
    <div class="book-card">
      <div class="book-left">
        <div class="book-left-text">
          <p>Book<br>cover</p>
        </div>
      </div>

      <div class="book-divider"></div>

      <div class="book-right">
        <div class="book-right-text">
          <strong><%= user_book.title %></strong><br>
          <%= user_book.author %><br>
          <%= user_book.status %>
          <%# link_to "Edit", edit_user_book_path(user_book) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
