.bookcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 20px;
  border-radius: 7px;

  .book-cover {
    width: 200px;
    align-self: center;
    object-fit: cover;
    box-shadow: 10px 5px 5px $gray-500;
  }

  .book-cover img {
    width: 100%;
  }
}

.book-reading-dates {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 2px;
  width: 100%;
  gap: 8px;
  font-size: smaller;
}
