.bookcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 20px;
  border-radius: 7px;

  .book-cover {
    width: 200px;
    align-self: center;
    object-fit: cover;
    box-shadow: 10px 5px 5px rgb(168, 165, 165);
  }

  .book-cover img {
    width: 100%;
  }
}
