.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    // overflow: hidden;
    display: flex;
    &:hover .review-group {
      animation-play-state: paused;
    }
  }

.review-card {
  min-width: 30ch;
  color: $black;
  border: 3px solid transparent;
  border-radius: 15px;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: large;
  height: 150px;
}

.review-group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
