.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  min-height: 200px;
  border-radius: 24px;
  background:
    linear-gradient(45deg,white,#e0cffc) padding-box,
    linear-gradient(45deg,#e0cffc,#a370f7) border-box;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
}

.review-text {
  text-align: center;
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-size: 1.05rem;
  }
}


.review-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-rating i {
  margin-right: 4px;
  color: #f5c542;
}

.review-name {
  font-weight: 600;
  font-size: 0.95rem;
  margin-left: auto;
}
