.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    &:hover .review-group {
      animation-play-state: paused;
    }
  }

.review-card {
  min-width: 20ch;
  color: black;
  border: 4px solid transparent;
  border-radius: 15px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(196, 121, 196), rgb(127, 84, 127)) border-box;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.review-group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
