.btn-create {
  float: right;
  // text-align: right;
  // background-color: $indigo-600;
  // color: white;
  // padding: 4px;
  // border-radius: 4px;
  // box-shadow: 2px;
  // text-decoration: none;
  // &:hover {
  //     background-color: $indigo-200;
  //     color: black;
  // }
}
