/* Generic centered box (can use anywhere) */
.home-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Login section layout */
.login-wrapper {
  // min-height: 100vh;
  height: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background:
    // linear-gradient(45deg,#e0cffc,#c29ffa) padding-box,
    $bg-gradient padding-box,
    // linear-gradient(45deg,#e0cffc,#a370f7) border-box;
    $border-gradient border-box;
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 100%;
  transform: translateY(-74px);
  &:hover .login-owl {
    transform: scale(1.05);
  }
}

/* Left side: owl */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-owl {
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: transform 0.6s ease;
}

/* Right side: text + buttons */
.login-right {
  flex: 1;
  max-width: 400px;
}
