.login-page {
  height: fit-content;
  position: relative;
  max-height: 500px;
}

.video-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  max-height: 500px;
  // transform: translate(0, 78px);
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
