.navbar {
  justify-content: space-between;
  background: $white;
  color: $primary;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
