.reviews-title {
  width: 100%;
  padding: 10px;
  border-bottom: 1px double #ffe5d0;
}

.bling-text {
  background: linear-gradient(
    90deg,
    black 0%,
    black 40%,
    #520dc2 50%,
    black 60%,
    black 100%
  );
  background-size: 300%;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 15s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
