.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(45deg,white,rgb(101, 42, 250)) padding-box,
    linear-gradient(45deg,rgb(196, 121, 196),rgb(127, 84, 127)) border-box;
}


.review-container {
  width: 100%;
  text-align: center;
  // height: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
