.flex-grow-2 { flex-grow: 2; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-6 { flex-grow: 6; }

.flex-shrink-2 { flex-shrink: 2; }
.flex-shrink-4 { flex-shrink: 4; }
.flex-shrink-6 { flex-shrink: 6; }

// .test-border {
//   border: 1px solid blue;
// }
