.shelves-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.shelf-card {
  border-radius: 14px;
  padding: 16px 18px;
  background:
    // linear-gradient(#f9f9fa, #d0b8f9) padding-box,
    $bg-gradient padding-box,
    // linear-gradient(to right, rgb(196, 121, 196), rgb(127, 84, 127)) border-box;
    $border-gradient border-box;
  border: 2px solid transparent;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

.shelf-card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.shelf-card:hover {
  transform: translateY(-4px);
}
