.shelf-ellipsis-icon {
  font-size: 1.75rem;
  cursor: pointer;
}

.shelf-dropdown-menu {
  padding: 0.75rem 1rem;
  min-width: 220px;
  border-radius: 10px;
  font-size: 1rem;
}

.shelf-dropdown-menu .dropdown-item {
  padding: 0.6rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
