.book-shell {
  width: 180px;
  height: 280px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background: $light;
  // background: #f3f3f3;
  box-shadow: 10px 10px 20px #00000080;
}

.book-shell-sm {
  width: 135px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background: $light;
  box-shadow: 10px 10px 20px #00000080;
}

.book-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  z-index: 3;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookshelf-shelves {
  position: relative;
  width: 110%;
  height: 0px;
  transform: translateY(-1px);
  // background: #BA8C63; /* front face color */
  background: $sand;
  transform-style: preserve-3d;
  perspective: 500px;
}

.bookshelf-shelves::after {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  box-shadow: 0px 4px 20px $black;
}

.bookshelf-shelves::before {
  content: '';
  position: absolute;
  bottom: 110%;
  left: 50%;
  width: 111%;
  height: 120px; /* depth of the shelf */
  // background: #BA8C63; /* top face - slightly lighter */
  background: $shelf-gradient;
  transform-origin: bottom;
  transform: rotateX(70deg) translateX(-50%); /* angle it back */
}
